<div class="row-fluid marketing">
  <div class="span4">
    <h4>Agendamento</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Controle de Vagas</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    
  </div>

  <div class="span4">

    <h4>Informativo Online</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

    <h4>Ocorrências</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

  </div>

  <div class="span4">

    <h4>Sugestões</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Anúncios</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  </div>

</div>