// Place all the styles related to the apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-create-apartment{
	border: 3px solid #dff0d8;
	padding: 1%;
	margin-bottom: 1%;
}