 <!-- Fixed navbar -->
<div class="navbar">
  <div class="navbar-inner">

  	<!-- Begin container -->
    <div class="container">

      <div class="row-fluid">
        <div class="span10">
          <%= link_to image_tag("/imgs/brand-complete.png"), root_path, :class =>"brand" %>
        </div>

        <div class="span2">
        	<%= link_to('Logout', destroy_syndic_session_path, :method => :delete) %>
        </div>

      </div>

    </div>
		<!-- END container -->
  </div>
</div>
 <!-- END Fixed navbar -->
